[user]
	name = Felipe S. S. Schneider
	email = schneider.felipe.5@gmail.com
[author]
	name = Felipe S. S. Schneider
	email = schneider.felipe.5@gmail.com
[github]
	user = schneiderfelipe
[core]
	quotepath = off
[init]
	defaultBranch = main
	templateDir = /home/schneider/.git-templates/git-secrets
[alias]
	ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
